/* --------- Begin Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- End Reset ---------- */

/* How to round corners, align center? */

body {
    background: #eee8aa;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f0e68c), color-stop(1, #fffacd));
    background: -webkit-linear-gradient(to bottom right, #f0e68c, #fffacd);
    background: -moz-linear-gradient(to bottom right, #f0e68c, #fffacd);
    background: -ms-linear-gradient(to bottom right, #f0e68c, #fffacd);
    background: -o-linear-gradient(to bottom right, #f0e68c, #fffacd);
    background: linear-gradient(to bottom right, #f0e68c, #fffacd);
    color: #333;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header {
    background: #903;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: block;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 940px;
}

/* TODO: Use a Google font */
header h1 {
    color: #fffacd;
    font-size: 32px;
    letter-spacing: .25em;
    line-height: 64px;
    text-align: center;
    word-spacing: .5em;
}

nav {
    background: #731d3a;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fffacd;
    display: block;
    letter-spacing: .25em;
    margin-bottom: 10px;
    width: 960px;

}

nav ul {
    padding: 5px;
    width: 960px;
}

nav ul li {
    display: inline;
    padding-left: 80px;
    padding-right: 80px;
}

article {
    border: solid 2px #85755b;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 606px;
}

aside {
    border: solid 2px #85755b;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: right;
    padding: 10px;
    width: 296px;
}

footer {
    background: #c36;
    -moz-border-radius: 15px;
    border-radius: 15px;
    clear: both;
    color: #fffacd;
    display: block;
    letter-spacing: .25em;
    width: 960px;
}

footer ul {
    padding: 5px;
    width: 960px;
}

/* How to float these? */
footer ul li {
    display: inline;
    padding: 40px;
}
